@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --color-terminal-bg: #0d1117;
  --color-terminal-text: #e6edb3;
  --color-terminal-accent: #00ff00;
  --color-terminal-border: #30363d;
  --color-terminal-input: #161b22;
}

@layer base {
  body {
    @apply bg-terminal-bg text-terminal-text;
  }
}