<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="/assets/logo.png" alt="logo" class="h-18 w-18">
      <span class="text-xl">ROMCat</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <% if current_user %>
        <%= link_to "新規作成", new_post_path, class:"mr-5 hover:text-gray-900" %>
      <% end %>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
    </nav>
    <%= button_to(current_user ? logout_path : login_path, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none cursor-pointer rounded text-base mt-4 md:mt-0") do %>
      <%= current_user ? 'ログアウト' : 'ログイン' %>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    <% end %>
  </div>
</header>